body {
    background: #87CEFA;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#778899;
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 4px solid #87CEFA;
}

.assignment img:hover {
    border:4px #F5FFFA;
}

h1 {
    color: darkblue;
    text-align:center;
}

a {
    text-decoration: none ;
    color: #F5FFFA;
}

a:hover {
    color: #87CEFA;
}